@import url('https://fonts.googleapis.com/css2?family=Abel&family=DM+Serif+Display:ital@0;1&family=Monoton&family=Sevillana&display=swap');


.background-color-main {
    background-color: rgb(245, 246, 248);
}

.title {
    font-size: 25pt;
    font-family: 'DM serif Display';
    color: white;
}

.display-4{
    font-weight: 100;
}

.anytime-title{
    font-weight: 500;
}

.mainpg-button {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: white;
    background-color: rgb(184, 58, 58);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

}

.meet-team {
    color: rgb(186, 29, 29);
}

.footer {
    background-color:rgb(33, 37, 41, 1);
    width: 100%;
}

.dpitem{
    white-space: nowrap;

}

body{
background-color:#eee;
}

.project-list-table {
    border-collapse: separate;
    border-spacing: 0 12px
}

.crtitle {
    font-family: 'DM serif Display';
}

.project-list-table tr {
    background-color: #fff
}

.table-nowrap td, .table-nowrap th {
    white-space: nowrap;
}

.table-borderless>:not(caption)>*>* {
    border-bottom-width: 0;
}

.table>:not(caption)>*>* {
    padding: 0.75rem 0.75rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.avatar-sm {
    height: 2rem;
    width: 2rem;
}

.rounded-circle {
    border-radius: 50%!important;
}

.me-2 {
    margin-right: 0.5rem!important;
}

img, svg {
    vertical-align: middle;
}

a {
    color: #3b76e1;
    text-decoration: none;
}

.badge-soft-danger {
    color: #f56e6e !important;
    background-color: rgba(245,110,110,.1);
}

.badge-soft-success {
    color: #63ad6f !important;
    background-color: rgba(99,173,111,.1);
}

.badge-soft-primary {
    color: #3b76e1 !important;
    background-color: rgba(59,118,225,.1);
}

.badge-soft-info {
    color: #57c9eb !important;
    background-color: rgba(87,201,235,.1);
}

.avatar-title {
    align-items: center;
    background-color: #3b76e1;
    color: #fff;
    display: flex;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.bg-soft-primary {
    background-color: rgba(59,118,225,.25)!important;
}

.complete {
    color:red
}

.cancel {
    color:green
}

.user-update {
    color:rgb(255, 167, 24)
}
